body {
  background-image: url("../images/pizza-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  color: white;
}

header {
  width: 88%;
  margin: auto;
  overflow: hidden;
}

.head {
  float: left;
  color: gold;
  font-family: cursive;
}

li {
  display: inline;
  padding: 1rem;
}

.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
  margin-top: 1%;
}